@import "../error-message/index";
@import "../hint/index";
@import "../label/index";

@include govuk-exports("govuk/component/file-upload") {
  $component-padding: govuk-spacing(1);

  .govuk-file-upload {
    @include govuk-font($size: 19);
    @include govuk-text-colour;
    max-width: 100%;
    margin-left: -$component-padding;
    padding: $component-padding;

    // The default file upload button in Safari does not
    // support setting a custom font-size. Set `-webkit-appearance`
    // to `button` to drop out of the native appearance so the
    // font-size is set to 19px
    // https://bugs.webkit.org/show_bug.cgi?id=224746
    &::-webkit-file-upload-button {
      -webkit-appearance: button;
      color: inherit;
      font: inherit;
    }

    &:focus {
      @include govuk-focused-text;
    }

    // Set "focus-within" to fix https://bugzilla.mozilla.org/show_bug.cgi?id=1430196
    // so that component receives focus in Firefox.
    // This can't be set together with `:focus` as all versions of IE fail
    // to recognise `focus-within` and don't set any styles from the block
    // when it's a selector.
    &:focus-within {
      @include govuk-focused-text;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &::file-selector-button {
      padding: govuk-spacing(1) govuk-spacing(4);
      border: none;
      border-radius: 5px;
      @include govuk-typography-weight-bold;
      color: govuk-colour("white");
      background: govuk-colour("blue");
    }

    &:hover:not(:disabled)::file-selector-button {
      box-shadow: 0 0 0 3px govuk-colour("dark-blue");
    }

    &:active:not(:disabled)::file-selector-button {
      background: govuk-colour("dark-blue");
    }

    &:disabled::file-selector-button {
      background: govuk-colour("dark-grey");
    }
  }

  .file-upload-component.govuk-form-group--error {
    padding-left: 0;

    .govuk-heading-m {
      margin-bottom: 0;
    }

    .govuk-error-message {
      margin-left: 30px;
    }
  }

  .file-upload-component:not(.js-enabled) {
    .upload-container {
      border: none;
      background: none;
      text-align: left;
    }
  }

  .file-upload-component.disabled {
    .upload-box {
      cursor: not-allowed;
    }

    .upload-container {
      border-color: govuk-colour("greyN300");

      .upload-icon .material-icons,
      .upload-text p {
        color: govuk-colour("dark-grey");
      }
    }
  }

  .file-upload-component {
    .govuk-heading-m {
      margin-right: 30px;
      margin-left: 30px;

      @include govuk-media-query($until: tablet) {
        margin-right: 10px;
        margin-left: 10px;
      }
    }
  }

  .upload-container {
    margin: 0 30px 30px;

    .govuk-heading-m {
      margin-right: 0;
      margin-left: 0;
    }

    @include govuk-media-query($until: tablet) {
      margin: 0 10px 10px;
    }
  }

  .upload-box {
    display: flex;
    margin-bottom: 15px;
    border: 2px dashed govuk-colour("greyN500");
    border-radius: 5px;
    background-color: govuk-colour("greyN90");
    text-align: center;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
  }

  .upload-box.dragover {
    border-color: govuk-colour("blue");
    background: govuk-colour("light-blue");
  }

  .upload-icon {
    margin-top: 30px;

    .material-icons {
      color: govuk-colour("dark-blue");
      font-size: 36px;
    }
  }

  .upload-text p {
    margin: 5px 0;
    color: govuk-colour("dark-blue");
  }

  .upload-button {
    display: flex;
    width: auto;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;

    .material-icons {
      margin-right: 10px;
    }
  }

  .upload-close-button {
    padding: 0;
    border: none;
    background-color: transparent;

    &:focus {
      @include govuk-focused-text;
    }
  }

  .upload-files {
    @include govuk-font($size: 14);
    padding: 0;
  }

  .upload-file-box {
    display: flex;
    margin: govuk-spacing(2) 0;
    padding: govuk-spacing(1) govuk-spacing(2);
    border: 0.5px double govuk-colour("greyN300");
    border-radius: 2.5px;
    background-color: govuk-colour("greyN90");
    gap: govuk-spacing(3);
    justify-content: space-between;
    align-items: center;
    // border-width: 0.5px;
    // border-style: double;
    // border-radius: 2.5px;
    // gap: 15px;
    // background-color: #FAFAFA;

    button {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
    }

    &.error {
      border: 0.5px double govuk-colour("red");

      .upload-file-icon {
        color: $govuk-error-colour;
      }

      .upload-file-content .upload-file-content-info {
        color: $govuk-error-colour;
      }
    }

    .upload-file-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-grow: 1;
      align-items: center;
      gap: govuk-spacing(1);
      margin-right: govuk-spacing(2);

      .material-icons {
        color: govuk-colour("blue");
      }

      .upload-file-content-filename {
        flex-grow: 1;
        text-align: start;
        word-break: break-word;
      }

      .upload-file-content-info {
        display: flex;
        align-items: center;
        gap: govuk-spacing(1);
        flex-shrink: 0;
      }
    }

    .upload-file-close-icon {
      padding: 0;
      border: 0;
      flex-shrink: 0;
      background-color: transparent;
    }
  }

  progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    min-width: 180px;
    height: 5px;
    border: 0.5px solid govuk-colour("blue");
    border-radius: 2.5px;
    background: none;

    @include govuk-media-query($until: tablet) {
      min-width: auto;
    }
  }

  progress[value]::-webkit-progress-bar {
    border-radius: 2.5px;
    background: none;
  }

  progress[value]::-webkit-progress-value {
    border-radius: 2.5px;
    background: govuk-colour("blue");
  }

  progress[value]::-moz-progress-bar {
    border-radius: 2.5px;
    background: govuk-colour("blue");
  }
}
