@import "../error-message/index";
@import "../hint/index";
@import "../label/index";

@include govuk-exports("govuk/component/textarea") {
  .govuk-textarea {
    @include govuk-font($size: 19, $line-height: 1.25);

    box-sizing: border-box; // should this be global?
    display: block;
    width: 100%;
    min-height: 64px;
    @include govuk-responsive-margin(2, "bottom");
    padding: govuk-spacing(1);

    resize: vertical;

    border: $govuk-border-width-form-element solid $govuk-input-border-colour;
    border-radius: 0.25rem;

    appearance: none;

    &:focus {
      @include govuk-focused-text;
    }

    &:hover {
      box-shadow: 0 0 0 3px #757575;
    }

    &:disabled {
      opacity: 0.5;
      color: inherit;
      background-color: transparent;
      cursor: not-allowed;
    }
  }

  .govuk-textarea--error {
    border-color: $govuk-error-colour;

    &:focus {
      border-color: $govuk-input-border-colour;
    }
  }

  .idsk-textarea__wrapper {
    position: relative;
  }

  .idsk-textarea--counter {
    position: absolute;
    right: 20px;
    bottom: 5px;
    color: govuk-colour("dark-grey");
  }

  .idsk-textarea__input-description {
    @include govuk-font($size: 16);
    color: govuk-colour("dark-grey");
  }
}
