@import "../error-message/index";
@import "../../../../../govuk-frontend/src/govuk/components/hint/index";
@import "../../../../../govuk-frontend/src/govuk/components/label/index";

@include govuk-exports("govuk/component/textarea") {
  .govuk-textarea {
    @include govuk-font($size: 19, $line-height: 1.25);

    box-sizing: border-box; // should this be global?
    display: block;
    width: 100%;
    min-height: 64px;
    @include govuk-responsive-margin(2, "bottom");
    padding: govuk-spacing(1);

    resize: vertical;

    border: $govuk-border-width-form-element solid $govuk-input-border-colour;
    border-radius: 0.25rem;

    -webkit-appearance: none;

    &:focus {
      outline: $govuk-border-width-form-element solid $govuk-focus-colour;
      // Ensure outline appears outside of the element
      outline-offset: 2px;
      // Double the border by adding its width again. Use `box-shadow` to do
      // this instead of changing `border-width` (which changes element size) and
      // since `outline` is already used for the yellow focus state.
      // box-shadow: inset 0 0 0 $govuk-border-width-form-element;
    }

    &:disabled {
      opacity: 0.5;
      color: inherit;
      background-color: transparent;
      cursor: not-allowed;
    }
  }

  .govuk-textarea--error {
    border-color: $govuk-error-colour;

    &:focus {
      border-color: $govuk-input-border-colour;
    }
  }

  .idsk-textarea__wrapper {
    position: relative;
  }

  .idsk-textarea--counter {
    position: absolute;
    right: 20px;
    bottom: 5px;
    color: govuk-colour("dark-grey");
  }

  .idsk-textarea__input-description {
    @include govuk-font($size: 16);
    color: govuk-colour("dark-grey");
  }
}
