/* stylelint-disable */
@include govuk-exports("govuk/component/header") {
  $govuk-header-background: govuk-colour("dark-blue");
  // $govuk-header-border-color: $govuk-brand-colour;
  // $govuk-header-border-width: govuk-spacing(2);
  $govuk-header-text: govuk-colour("white");
  // $govuk-header-link-active: #1d8feb;
  // $govuk-header-nav-item-border-color: #2e3133;
  $govuk-header-link-underline-thickness: 3px;
  // $govuk-header-vertical-spacing-value: 2;
  // This crown height is only used to calculate top offset of mobile menu button
  // as the crown svg height is the only thing that controls the height of the header
  // $govuk-header-crown-height: 30px;
  // $govuk-header-menu-button-height: 24px;
  // $govuk-header-menu-button-width: 80px;

  dialog {
    border: none;
    z-index: 20;
    width: 100%;
    max-width: 400px;

    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    height: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;

    // margin-right: 0;
    // position: fixed;
    // top: 0;
    animation: fade-out 0.7s ease-out;
  }

  dialog[open] {
    margin-right: 0;
    position: fixed;
    animation: fade-in 0.7s ease-out;
  }

  dialog[open]::backdrop {
    animation: backdrop-fade-in 0.7s ease-out forwards;
  }

  @keyframes fade-in {
    0% {
      transform: translateX(100%);
      display: none;
    }

    100% {
      transform: translateX(0);
      display: block;
    }
  }

  @keyframes fade-out {
    0% {
      transform: translateX(0);
      display: block;
    }

    100% {
      transform: translateX(100%);
      display: none;
    }
  }

  @keyframes backdrop-fade-in {
    0% {
      background-color: rgb(0 0 0 / 0%);
    }

    100% {
      background-color: rgb(0 0 0 / 25%);
    }
  }

  // button {
  //   @include govuk-typography-common;
  // }

  .idsk-button {
    &:focus {
      outline-color: govuk-colour("white");
    }
  }

  .govuk-header {
    @include govuk-font($size: 16, $line-height: 1);

    // border-bottom: govuk-spacing(2) solid govuk-colour("white");
    // color: $govuk-header-text;

    .hidden {
      display: none;
    }

    &__actionPanel {
      @include govuk-media-query($from: desktop) {
        display: flex;
        align-items: center;
      }
      @include govuk-media-query($until: desktop) {
        display: flex;
      }

      @media (min-width: 769px) {
        gap: 10px;
      }
      @media (max-width: 769px) {
        gap: 5px;
      }

      .govuk-button {
        background-color: transparent;
        min-height: 40px;
        min-width: 40px;
        padding: 0;

        * {
          vertical-align: middle;
        }
      }

      .govuk-header__profile_button {
        background-color: govuk-colour("black");
        border-radius: 50%;
      }

      & .material-icons {
        font-size: 28px;
        color: govuk-colour("blueP500");
        cursor: pointer;
      }

      .profile {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        object-fit: cover;
      }
    }

    // dialog::backdrop {
    //   background-color: #00000044;
    // }

    &__profile {
      .govuk-button {
        width: 100%;
      }

      > * {
        width: stretch;
        width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
        width: -moz-available; /* WebKit-based browsers will ignore this. */
      }

      &__header {
        border-top: 2.5rem solid $govuk-header-background;
        border-bottom: 1px solid govuk-colour("greyN300");
        padding: govuk-spacing(2) govuk-spacing(2) govuk-spacing(2) govuk-spacing(4);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0px;
        background-color: govuk-colour("white");

        .govuk-heading-m {
          margin: 0;
        }

        .govuk-header__profile_close_button {
          margin-bottom: 0;
          color: govuk-colour("black");
          width: auto;
        }
      }

      &__body {
        padding: govuk-spacing(4) govuk-spacing(3);
        position: fixed;
        top: 100px;
        height: calc(100% - 100px - 2 * govuk-spacing(4));
        // margin-top: 100px;
        overflow-y: auto;
      }

      &__info {
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: 10px;

        .govuk-header__profile_icon {
          @include govuk-font($size: 24, $line-height: 19px, $weight: bold);
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: govuk-colour("black");
          border-radius: 50%;
          aspect-ratio: 1 / 1;
          width: govuk-spacing(8);
          color: govuk-colour("white");
        }

        @include govuk-media-query($until: desktop) {
          flex-direction: column;
          align-items: center;
        }

        .govuk-header__profile_text {
          display: flex;
          flex-direction: column;

          @include govuk-media-query($until: desktop) {
            align-items: center;
          }
        }
      }

      &__links {
      }

      &__buttons {
        button {
          margin: govuk-spacing(1) 0;
        }
      }

      // display: none;

      // &[hidden] {
      //   display: none;
      // }

      // @include govuk-media-query($until: desktop) {
      //   &__body {
      //     display: flex;
      //     flex-direction: column;
      //     align-items: center;
      //   }
      // }

      // @include govuk-media-query($from: desktop) {
      //   position: fixed;
      //   top: 0;
      //   right: 0;
      //   bottom: 0;
      //   background: govuk-colour("white");
      //   // position: absolute;
      //   // right: 0;
      //                                                                                                                                            // top: -20px;
      //   // display: flex;
      //   // flex-direction: column;
      //   // align-items: center;
      //   // background: govuk-colour("white");
      //   // margin: 0;
      //   // border: 1px solid govuk-colour("greyN300");
      //   // border-radius: 10px;
      //   // padding: 30px 20px 20px 20px;

      //   &__header {
      //     border-top: 2.5rem solid $govuk-header-background;
      //     border-bottom: 1px solid govuk-colour("greyN300");
      //     padding: govuk-spacing(4) govuk-spacing(2) 0 govuk-spacing(4);
      //     display: flex;
      //     justify-content: space-between;
      //     align-items: center;

      //     .govuk-header__profile_close_button {
      //       margin-bottom: 20px;
      //       color: govuk-colour("black");
      //     }
      //   }

      //   &__body {
      //     display: flex;
      //     flex-direction: column;
      //     align-items: center;
      //     padding: 30px 20px 20px 20px;
      //   }

      // }

      // img.profile {
      //   // @include govuk-media-query($until: desktop) {
      //   border-radius: 50%;
      //   max-width: 50px;
      //   // }
      // }

      // h4.govuk-heading-l {
      //   margin-bottom: 0;
      // }

      // button.govuk-button {
      //   margin: govuk-spacing(2);
      //   // font-size: 16px;
      // }

      // button.govuk-button--texted__warning {
      //   margin-bottom: 0;
      // }
    }

    .btnWrapper {
      @include govuk-media-query($until: desktop) {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 0 30px;
      }
    }
  }

  // .govuk-header__container--full-width {
  //   padding: 0 govuk-spacing(3);
  //   border-color: $govuk-header-border-color;

  //   .govuk-header__menu-button {
  //     right: govuk-spacing(3);
  //   }
  // }

  .govuk-header__container {
    @include govuk-clearfix;
    position: relative;
    background-color: $govuk-header-background;
  }

  // .govuk-header__logotype {
  //   display: inline-block;
  //   position: relative;
  //   top: -3px;

  //   // Add a gap after the logo in case it's followed by a product name. This
  //   // gets removed later if the logotype is a :last-child.
  //   margin-right: govuk-spacing(1);
  //   fill: currentcolor;
  //   vertical-align: top;

  //   // Prevent readability backplate from obscuring underline in Windows High
  //   // Contrast Mode
  //   @media (forced-colors: active) {
  //     forced-color-adjust: none;
  //     color: linktext;
  //   }

  //   // Remove the gap after the logo if there's no product name to keep hover
  //   // and focus states neat
  //   &:last-child {
  //     margin-right: 0;
  //   }
  // }

  // .govuk-header__product-name {
  //   $product-name-offset: if($govuk-new-typography-scale, 7px, 10px);
  //   $product-name-offset-tablet: 5px;

  //   @include govuk-font-size($size: 24, $line-height: 1);
  //   @include govuk-typography-weight-regular;
  //   display: inline-table;

  //   // Maintain space below logo when wrapped
  //   margin-top: $product-name-offset;

  //   // Firefox places the GOV.UK logo one pixel higher, due to how it rounds
  //   // subpixels, so nudge the product name in FF to still be aligned.
  //   @-moz-document url-prefix() {
  //     margin-top: $product-name-offset - 0.5px;
  //   }

  //   // Align vertically with logo when not wrapped
  //   vertical-align: top;

  //   @include govuk-media-query($from: tablet) {
  //     margin-top: $product-name-offset-tablet;
  //     @-moz-document url-prefix() {
  //       margin-top: $product-name-offset-tablet - 0.5px;
  //     }
  //   }
  // }

  .govuk-header__link {
    // Avoid using the `govuk-link-common` mixin because the links in the header
    // get a special treatment, because:
    //
    // - underlines are only visible on hover
    // - all links get a 3px underline regardless of text size, as there are
    //   multiple grouped elements close to one another and having slightly
    //   different underline widths looks unbalanced
    // @include govuk-link-style-inverse;

    text-decoration: none;
    color: govuk-colour("black");

    &--wrapper {
      display: flex;
      align-items: center;
    }

    &:hover {
      text-decoration: underline;
      & .material-icons {
        text-decoration: none;
      }
    }

    &:focus {
      @include govuk-focused-text;
    }
  }

  .govuk-header__link--homepage {
    // Font size needs to be set on the link so that the box sizing is correct
    // in Firefox
    display: inline-block;
    margin-right: govuk-spacing(2);

    @include govuk-media-query($from: desktop) {
      display: inline;

      &:focus {
        // Replicate the focus box shadow but without the -2px y-offset of the first yellow shadow
        // This is to stop the logo getting cut off by the box shadow when focused on above a product name
        box-shadow: 0 0 $govuk-focus-colour;
      }
    }

    & img {
      @include govuk-media-query($until: desktop) {
        max-width: 180px;
      }
      @include govuk-media-query($until: tablet) {
        max-width: 140px;
      }
    }

    &:link,
    &:visited {
      text-decoration: none;
    }

    // &:hover,
    &:active {
      // Negate the added border
      margin-bottom: $govuk-header-link-underline-thickness * -1;
      border-bottom: $govuk-header-link-underline-thickness solid;
    }

    // Remove any borders that show when focused and hovered.
    &:focus {
      margin-bottom: 0;
      border-bottom: 0;
    }

    &[hidden] {
      display: none;
    }
  }

  // .govuk-header__service-name {
  //   display: inline-block;
  //   margin-bottom: govuk-spacing(2);
  //   @include govuk-font-size($size: 24);
  //   @include govuk-typography-weight-bold;
  // }

  // .govuk-header__logo,
  // .govuk-header__content {
  //   box-sizing: border-box;
  //   @include govuk-media-query($until: desktop) {
  //     display: flex;
  //     align-items: center;
  //   }
  // }

  .govuk-header__logo {
    // Protect the absolute positioned menu button from overlapping with the
    // logo with right padding using the button's width
    box-sizing: border-box;

    @include govuk-media-query($until: desktop) {
      display: flex;
      align-items: center;
    }

    @include govuk-media-query($from: desktop) {
      margin-right: 40px;

      // Reset float when logo is the last child, without a navigation
      &:last-child {
        width: auto;
        padding-right: 0;
        float: none;
      }
    }
  }

  // .govuk-header__content {
  //   @include govuk-media-query($from: desktop) {
  //     border-top: 1px solid govuk-colour("greyN300");
  //   }
  // }

  // .govuk-header__link {
  //   color: govuk-colour("black");
  // }

  .govuk-header__menu-button {
    @include govuk-font($size: 16, $weight: bold);

    // calculate top offset by:
    // - getting the vertical spacing for the top and the bottom of the header
    // - adding that to the crown height
    // - dividing it by 2 so you have the vertical centre of the header
    // - subtracting half the height of the menu button
    // margin: 0;
    padding: 8px 13px;
    color: govuk-colour("blueP600");
    background: none;
    word-break: break-all;
    cursor: pointer;
    border: 2px solid govuk-colour("blueP600");
    border-radius: 5px;

    & .material-icons {
      margin-left: 5px;
    }

    &:hover {
      @if $govuk-link-underline-offset {
        text-underline-offset: $govuk-link-underline-offset;
      }
    }

    &:focus {
      @include govuk-focused-text;
    }

    &::after {
      margin-left: govuk-spacing(1);
    }

    @include govuk-media-query($from: tablet) {
      top: govuk-spacing(3);
    }

    .govuk-frontend-supported & {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &[hidden],
    .govuk-frontend-supported &[hidden] {
      display: none;
    }
  }

  .govuk-header__navigation {
    position: relative;

    span.text {
      font-size: 16px;
      color: govuk-colour("black");
      margin-top: 30px;
      margin-bottom: 10px;
      padding-left: 30px;
      display: block;
      padding-bottom: 10px;
      border-bottom: 2px solid govuk-colour("dark-grey");

      @include govuk-media-query($from: desktop) {
        display: none;
      }
    }
  }

  .govuk-header__navigation-list {
    // Reset user-agent default list styles
    margin-top: 0;
    padding: 0;
    list-style: none;

    @include govuk-media-query($from: desktop) {
      border-top: 1px solid govuk-colour("greyN300");
    }

    &[hidden] {
      display: none;
    }

    ul {
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
      list-style: none;
    }

    .warning {
      background: govuk-colour("red");
      border-radius: 50%;
      width: 20px;
      height: 20px;
      @include govuk-font-size($size: 12);

      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      margin-left: 10px;
    }

    @include govuk-media-query($until: desktop) {
      margin: 0;
    }
  }

  // .govuk-header__navigation--end {
  //   @include govuk-media-query($from: desktop) {
  //     margin: 0;
  //     padding: govuk-spacing(1) 0;
  //     text-align: right;
  //   }
  // }

  .govuk-header__navigation-item {
    padding: 6px;

    &:hover {
      background-color: govuk-colour("blueP100");
    }

    @include govuk-media-query($from: desktop) {
      display: inline-block;
      border: 0;
    }

    @include govuk-media-query($until: desktop) {
      border-bottom: 0;
      padding-right: 0;
    }

    a {
      @include govuk-font-size($size: 19);
      height: inherit;
      white-space: nowrap;
      color: govuk-colour("black");
      display: flex;
      align-items: center;
      margin: 0;
      font-weight: normal;

      @include govuk-media-query($from: desktop) {
        // display: inline-block;
        padding: calc(1.25rem - 6px) calc(0.625rem - 6px);
        // border: 0;
      }

      @include govuk-media-query($until: desktop) {
        padding: 15px 0 15px 20px;
        // border-bottom: 0;
      }

      &:hover {
        @include govuk-link-decoration;
      }
    }

    .idsk-dropdown__wrapper > .idsk-dropdown__options {
      top: 66px;
      left: -3px;
    }
  }

  .govuk-header__navigation-item--active {
    @include govuk-media-query($from: desktop) {
      border-bottom: 4px solid govuk-colour("blueP500");
      color: govuk-colour("blueP500");
    }

    @include govuk-media-query($until: desktop) {
      border-bottom: 0;
      border-left: 5px solid govuk-colour("blue");
    }

    // .idsk-dropdown__option > a {
    //   color: govuk-colour("dark-blue");
    // }

    .active > a {
      color: govuk-colour("dark-blue");
    }

    a {
      &:link,
      &:hover,
      &:visited {
        color: govuk-colour("dark-blue");
        font-weight: bold;
        // margin-left: -5px;
      }

      // When printing, use the normal blue as this contrasts better with the
      // white printing header
      // @include govuk-media-query($media-type: print) {
      //   color: $govuk-brand-colour;
      // }

      // When focussed, the text colour needs to be darker to ensure that colour
      // contrast is still acceptable
      // &:focus {
      //   color: $govuk-focus-text-colour;
      // }
    }

    .idsk-dropdown__option {
      a {
        font-weight: normal;
        color: govuk-colour("black");
      }
    }

    .idsk-dropdown__option {
      &.active {
        a {
          color: govuk-colour("dark-blue");
        }
      }
    }

    .idsk-dropdown__option {
      & .active {
        a {
          color: govuk-colour("dark-blue");
          font-weight: bold;
        }
      }
    }
  }

  // .govuk-header__navigation-item:last-child {
  //   margin-right: 0;
  //   border-bottom: 0;
  // }

  @include govuk-media-query($media-type: print) {
    .govuk-header {
      border-bottom-width: 0;
      color: govuk-colour("black");
      background: transparent;
    }

    .govuk-header__link {
      // Do not append link href to GOV.UK link when printing (e.g. '(/)')
      &::after {
        display: none;
      }
    }
  }

  .govuk-header__wrapper {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    z-index: 41;
    display: flex;
    max-height: 100vh;
    width: 100%;
    flex-direction: column;

    .idsk-header-brand__dropdown {
      position: absolute;
      right: 0;
      padding-top: 0.4rem;

      .idsk-dropdown__options {
        top: 2.5rem;
      }
    }

    // .idsk-dropdown__wrapper {
    //   position: absolute;
    //   right: 0rem;
    //   top: 0.4rem;

    //   /*
    //   @media (min-width: 1120px) {
    //     right: 2rem;
    //   }*/
    // }

    .idsk-header-brand__header {
      display: flex;
      position: relative;
      z-index: 10;
      right: 0;
      left: 0;
      min-height: 2.5rem;
      margin-right: auto;
      margin-left: auto;
      color: $govuk-header-text;
      justify-content: space-between;
      letter-spacing: 0.5px;
    }

    .idsk-header-brand__heading-title {
      display: inline-flex;
      align-items: center;
      padding-top: 0.4rem;
    }

    .idsk-header-brand__heading-button {
      display: inline-flex;
      align-items: center;
      padding: 0;
      margin: 0 0 0 govuk-spacing(1);
      // padding-top: 0.4rem;
      // margin: 0 0 0 5px;
      // padding: 0 0 0 2px;

      // text-decoration: none;
      // // span > :not(.material-icons) {
      // //   &:hover {
      // //     text-decoration: underline;
      // //   }
      // // }

      // // &:focus {
      // //   @include govuk-focused-text;
      // //   outline-color: govuk-colour("white");
      // //   color: govuk-colour("white");
      // // }

      // display: inline-flex;
      // border: none;
      // margin: 0 0 0 5px;
      // padding: 0 0 0 2px;
      // color: govuk-colour("white");
      // background: none;
      // cursor: pointer;
      // align-items: center;

      // & > *:not(.material-icons) {
      //   letter-spacing: 0.5px;
      // }
    }

    .idsk-header-brand__text {
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 1rem;
      margin: 0.625rem 0;

      @include govuk-media-query($from: desktop) {
        gap: 2rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin-top: 30px;
        margin-bottom: 30px;
      }

      .govuk-body-s {
        color: white;
        margin-bottom: 10px;
      }

      .max-width77-desktop {
        @include govuk-media-query($from: desktop) {
          max-width: 77%;
        }
      }
    }
  }

  .idsk-searchbar__wrapper {
    display: flex;
    align-items: flex-start;

    @include govuk-media-query($until: desktop) {
      width: 100%;
    }

    input {
      height: 100%;
    }

    button {
      height: 100%;
    }

    @include govuk-media-query($from: mobile) {
      display: flex;

      .govuk-button {
        margin-bottom: 0;
        width: auto;
      }
    }

    // .govuk-input {
    //   width: 250px;
    //   border-radius: 0;
    // }

    // @include govuk-media-query($from: desktop) {
    //   max-width: 300px;
    //   .govuk-input {
    //     width: 250px;
    //     border-radius: 0;
    //   }
    // }

    .govuk-input {
      width: 250px;
      border-radius: 0;
      border-right: none;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    .govuk-button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border: 2px solid govuk-colour("black");
      border-left: 0;

      .material-icons {
        font-size: 17px;
      }
    }
  }

  .govuk-header-main {
    margin-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;

    @include govuk-media-query($until: desktop) {
      margin: 30px 30px;
      padding-bottom: 0;
      //width: auto;
    }

    & .govuk-header__btns-search {
      display: flex;
      gap: 1rem;
      justify-content: space-between;

      @include govuk-media-query($until: desktop) {
        width: 100%;
        flex-wrap: wrap;
      }

      .govuk-header__mobile-menu {
        display: flex;
        width: 100%;
        flex-direction: row-reverse;
        align-items: center;
      }

      .govuk-header__mobile-menu .govuk-header__menu-button {
        margin-left: auto;
      }

      & .govuk-header__navigation {
        border-top: none;
      }

      .govuk-button {
        margin-bottom: 0;
      }
    }
  }

  .idsk-header-brand__heading-desktop {
    display: none;
  }

  // .idsk-header-brand__heading-button-icon {
  //   height: 1.5rem;
  //   width: 1.5rem;
  //   font-size: 1.5rem;
  //   text-decoration: none;
  // }

  // Dropdown menu
  // .dropdown-toggle {
  //   position: relative;

  //   a {
  //     @include govuk-media-query($until: desktop) {
  //       display: flex;
  //       justify-content: space-between;
  //     }
  //   }

  //   ul.submenu {
  //     @include govuk-media-query($until: desktop) {
  //       margin-top: 15px;
  //     }
  //   }

  //   &.open {
  //     .submenu {
  //       display: block;
  //     }
  //     .govuk-header__link span.material-icons {
  //       rotate: 180deg;
  //     }
  //   }
  // }

  // .submenu {
  //   display: none;
  //   position: absolute;
  //   top: 85%;
  //   left: -0.2rem;
  //   width: auto;
  //   list-style-type: none;
  //   border-radius: 5px;
  //   margin: 0;
  //   padding: 0;
  //   z-index: 1;
  //   background: govuk-colour("white");

  //   @include govuk-media-query($until: desktop) {
  //     position: static;
  //   }

  //   .govuk-header__navigation-item {
  //     width: calc(100% - (0.625rem * 2));
  //   }
  // }

  // .submenu.idsk-shadow-medium {
  //   @include govuk-media-query($until: desktop) {
  //     box-shadow: none;
  //   }
  // }

  .rotate180 {
    transform: rotate(180deg);
  }

  @media (min-width: 520px) {
    .idsk-header-brand__heading-mobile {
      display: none;
    }
    .idsk-header-brand__heading-desktop {
      display: inline;
    }
  }

  .idsk-button {
    &:focus {
      @include govuk-focused-text;
    }

    display: inline-flex;
    position: relative;
    border: none;
    background: none;
    // color: white;
    @include govuk-font-size($size: 16);
  }

  .idsk-dropdown {
    // @include govuk-font($size: 16, $line-height: 1.5);
    // @include govuk-responsive-padding(4, "top");
    // @include govuk-responsive-padding(4, "bottom");

    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // width: 100%;
    // gap: 0.125rem;
    // color: govuk-colour("black");

    // @include govuk-media-query($from: desktop) {
    //   justify-content: flex-start;
    //   height: 100%;
    // }

    &__wrapper {
      display: inline-block;
      position: relative;

      // @include govuk-media-query($until: desktop) {
      //   width: 100%;
      // }

      // ul {
      //   @include govuk-responsive-margin(1, "top");
      //   @include govuk-responsive-padding(0);
      //   display: none;
      // }

      .idsk-dropdown {
        // padding: 0;
        // margin: 0;
        font-weight: normal;
        // color: govuk-colour("white");
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }

        &:hover > *:not(.material-icons) {
          text-decoration: underline;
        }

        .material-icons {
          text-decoration: none;
        }

        // &:hover {
        //   text-decoration: underline;
        // }

        // > * {
        //   &:hover {
        //     text-decoration: underline;
        //   }
        // }
      }

      &.open > .idsk-dropdown__options {
        display: block;

        @include govuk-media-query($until: desktop) {
          position: static;
        }
      }

      &.open > .idsk-dropdown > .material-icons {
        rotate: 180deg;
      }

      .idsk-button {
        cursor: pointer;
      }

      .idsk-button > .idsk-button__text {
        &:hover {
          text-decoration: underline;
        }
      }

      &:hover {
        text-decoration-line: none;
      }
    }

    &__icon {
      @include govuk-font-size(24);
      width: 1.5rem;
      height: 1.5rem;

      &--opened {
        rotate: 180deg;
      }
    }

    &__options {
      display: none;
      position: absolute;
      z-index: 10;
      top: 30px;
      // right: 0;
      padding: 0;
      margin: 0;
      // border: 1px solid transparent;
      // border-radius: 0.375rem;
      opacity: 0;
      color: govuk-colour("black");
      background-color: govuk-colour("white");

      // &.idsk-shadow-medium {
      //   @include govuk-media-query($until: desktop) {
      //     box-shadow: none;
      //   }
      // }

      hr {
        position: absolute;
        right: 0;
        left: 0;
        width: 100%;
        border: 1px solid govuk-colour("greyN300");
      }
    }

    &__option {
      display: flex;
      padding: 0.75rem 0 0.75rem 6px;
      white-space: nowrap;
      border-left: 4px solid transparent;

      &.active {
        border-left: 4px solid govuk-colour("blueP500");

        @include govuk-media-query($until: desktop) {
          border-left: 4px solid govuk-colour("blue");
        }

        a {
          font-weight: bold;
        }
      }

      a {
        text-decoration: none;
        font-weight: normal;
        margin-right: 6px;
        // margin-left: 4px;
      }

      &:first-of-type {
        @include govuk-responsive-margin(1, "top");
      }

      &:last-of-type {
        @include govuk-responsive-margin(1, "bottom");
      }

      &:hover {
        background-color: govuk-colour("blueP100");
      }

      &:active {
        font-weight: bold;
      }

      &:first-child {
        margin-top: 0.25rem;
      }

      &:last-child {
        margin-bottom: 0.25rem;
      }

      * {
        @include govuk-font($size: 16, $line-height: 1.5);
        box-sizing: border-box;
        color: inherit;
        text-decoration: inherit;

        &:not(hr) {
          @include govuk-responsive-padding(3);
          @include govuk-responsive-padding(1, "top");
          @include govuk-responsive-padding(2, "bottom");

          width: 100%;

          &:hover {
            background-color: govuk-colour("blueP100");
          }

          &:focus {
            @include govuk-focused-text;
          }
        }
      }

      // &[data-pseudolabel]::before {
      //   content: attr(data-pseudolabel);
      //   @include govuk-responsive-padding(3);
      //   @include govuk-responsive-padding(2, "top");
      //   @include govuk-responsive-padding(2, "bottom");
      //   width: 100%;
      //   opacity: 0;
      //   font-weight: bold;
      // }
    }

    &--opened {
      opacity: 1;
    }
  }

  // .idsk-pseudolabel__wrapper {
  //   position: relative;

  //   &[data-pseudolabel] {
  //     * {
  //       position: absolute;
  //       // top: 0;
  //       left: 0;
  //       width: 100%;
  //     }

  //     &::before {
  //       content: attr(data-pseudolabel);
  //       opacity: 0;
  //       font-weight: bold;
  //     }
  //   }

  //   &--center[data-pseudolabel] * {
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //   }
  // }
}
